$dark-orange: #c39034;
$light-orange: #dc9a22;
$emerald: #15bc9d;
$dark-blue: #11569a;

FlexboxLayout {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('~/assets/images/background.png');
}

.content-container {
  margin-top: 50px;
}

.logo {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $dark-orange;
}

.title-random {
  font-size: 32px;
  color: $emerald;
  text-align: center;
}

.champ-image-container {
  z-index: 5;
}

.champ-image {
  width: 80%;
  margin-bottom: 28;
}

.champ-name {
  font-weight: bold;
  font-size: 24;
  text-align: center;
  color: $light-orange;
  z-index: 2;
  margin-bottom: 12;
}
.champ-title {
  text-align: center;
  color: $light-orange;
  font-size: 16px;
}

.fas {
  font-family: 'FontAwesome', 'fontawesome-webfont';
  color: $dark-orange;
}

.right-arrow {
  font-size: 32px;
  margin-left: 48px;
}

.button-container {
  margin-top: 32;
}

.btn {
  border: none;
  color: white;
  padding: 8px 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 9px 8px 2px #00000029;
  border-radius: 8px;
}

.reroll-button {
  background-color: $emerald;
}

.all-rand-button {
  background-color: $dark-blue;
}
