FlexboxLayout {
  justify-content: center;
  align-items: center;
  /* background-size: cover;
  background-image: url("~/images/background.jpg"); */
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.champ-image {
  width: 50%;
  z-index: 5;
}
.champ-name {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.champ-title {
  text-align: center;
  font-size: 16px;
}

.fas {
  font-family: "FontAwesome", "fontawesome-webfont";
}

.right-arrow {
  font-size: 32px;
  margin-left: 48px;
}