.champ-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lane-img {
  width: 100px;
}

.label {
  text-align: center;
}

.undo-icon {
  margin-right: 8px;
}

.restart-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}
