FlexboxLayout {
  justify-content: center;
  align-items: center;
  /* background-size: cover;
  background-image: url("~/images/background.jpg"); */
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.champ-container {
  width: 50%;
  padding: 32px;
}

.champ-label {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.lane-container {
  width: 30%;
}
