$dark-orange: #c39034;
$light-orange: #dc9a22;
$emerald: #15bc9d;
$dark-blue: #11569a;

:host ::ng-deep {
  .title-random {
    color: $emerald;
  }

  .page-title {
    text-align: center;
    color: $dark-orange;
    font-weight: 700;
  }
}

.logo {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 12px;
  left: 35px;
}

.page-container {
  display: flex;
}

.left-div {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-arrow-icon {
  align-self: flex-end;
  margin-right: 16px;
  cursor: pointer;
  color: $light-orange;
}

.container {
  flex-grow: 3;
  flex-basis: 0;
}

.champ-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep image-with-loading {
  .image-with-loading-container {
    width: 120px;
    .image {
      width: 100%;
    }
  }
}

.lane-img-container {
  margin-left: 32px;
}

.lane-img {
  width: 120px;
}

.label {
  text-align: center;
  color: $light-orange;
}

.item-build {
  color: $emerald;
}

.undo-icon {
  margin-right: 8px;
}

.restart-button {
  background-color: $emerald;
  border: none;
  color: white;
  padding: 8px 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 9px 8px 2px #00000029;
  border-radius: 8px;
}
