<div class="page-container">
  <div class="left-div">
    <fa-icon
      role="button"
      class="left-arrow-icon"
      *ngIf="!isLoading"
      [icon]="faArrowIcon"
      (click)="navigateToRandomChamp()"
      size="3x"
    ></fa-icon>
  </div>
  <div class="container">
    <h1 class="page-title">
      {{ pageTitle }}
    </h1>
    <div class="champ-container">
      <div>
        <image-with-loading
          [image]="champSquare"
          (imageLoading)="imageLoading($event)"
        ></image-with-loading>

        <p class="label" *ngIf="!isLoading">{{ champName }}</p>
      </div>

      <div class="lane-img-container" *ngIf="!isLoading">
        <img class="lane-img" [src]="laneImg" />
        <p class="label">{{ laneText }}</p>
      </div>
    </div>

    <h2 *ngIf="!isLoading">{{ conceptText }}</h2>

    <button *ngIf="!isLoading" class="restart-button" (click)="restart()">
      <fa-icon
        class="undo-icon"
        *ngIf="!isLoading"
        [icon]="faIcon"
        size="lg"
      ></fa-icon>
      {{ restartButtonText }}
    </button>

    <button *ngIf="!isLoading" class="restart-button" (click)="restart()">
      Customize Builds
    </button>
  </div>
  <div class="left-div"></div>
</div>
